@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

.root {
    overflow: auto;
    min-height: 34rem;
    width: 300px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0;
}

.btn-primary {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin: 10px 0;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}


.btn-primary:focus {
    outline: none;
}

.btn-clear {
    background-color: red;
}


.result-area {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}